<div class="container">
    <div class="row">
        <div class="text-center col-md-12 col-12">
            @Html.Partial("_RxSearchBox")
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">
            <h1>About</h1>

            <div class="spaced">
                <img src="~/images/jlc.png" style="float: left;" />
                I'm a computer programmer in Pittsburgh, PA.  I have been working in the computing business for over 22 years.  I have been an avid healthcare consumer for over 38 years.  Medicine has come leaps an bounds since my birth in 1980.  We can now treat and cure diseases that were impossible to just four decades ago.  We've seen computers take over the medical profession. We have seen health care costs skyrocket.  We have seen the good old 80/20 health plans of the 80s turn into HMOs, PPOs, and POSs.  We have seen the invention of the MRI.  We can now know the sex of a baby before it is born (without using a shaman). 
            </div>
            
            <div class="spaced">
                All this has made me even more excited about what the future has to hold.  Today our healthcare system needs help.  Prescription drugs are at the heart of our problems.  Costs are skyrocketing.  Prescription histories are not covered by HIPPA in all cases, especially when applying for life insurance. Medicare Part D can't negotiate prescription drug prices.These things need to change.
            </div>
            
            <div class="spaced">
                This site is my small way to inform consumers and providers about the real costs of prescription drugs.  Unfortunately, we can only see prices, not the actual amount it costs a drug company to produce a drug.  Still, I think we can all benefit of bringing together the US Government's free data together in a meaningful way.
            </div>
    </div>
</div>
