<div class="container">
    <div class="row">
        <div class="text-center col-md-12 col-12">
            @Html.Partial("_RxSearchBox")
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">
            <h1>About the Numbers</h1>
            <h2>(in plain English)</h2>
            
            <h3>NADAC</h3>
            <h4>National Average Drug Acquisition Costs</h4>
            <div class="spaced">
                This is the monthly national average cost to purchase a drug from the drug manufacturers and distributors.  This does not include a pharmacy's cost to store and distribute the drugs to the end user.  This data covers outpatient Medicaid prescription drugs. 
            </div>
            
            <h3>FUL</h3>
            <h4>Affordable Care Act Federal Upper Limits</h4>
            <div class="spaced">
                These numbers are based on a monthly average of drugs available at retail and community pharmacies.  There are two prices listed here.  The first is average drug manufacturer's price (AMP) for a drug.  The Federal Upper Limit (FUL) is usually calculated as 175% of the AMP.  This number is usually used by businesses to calculate Medicaid reimbursement amounts.
            </div>
            
            <h3>SDU</h3>
            <h4>State Drug Utilization</h4>
            <div class="spaced">
                The average cost spent by each state's Medicaid program for a drug.  This data is not available for every state or every drug.  If there is no state listed on the grid, that record represents multiple states.  There are many reasons that data is not reported, generally due to privacy reasons.
            </div>

        </div>
    </div>
</div>
