<div class="container">
    <div class="row">
        <div class="text-center col-md-12 col-12">
            @Html.Partial("_RxSearchBox")
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">
            <h1>Disclaimers</h1>

            <div>
                <ul>

                    <li>This website and its information are not intended to diagnose, treat, cure, or prevent any disease.</li>
                    <li>The data on this website is not guaranteed to be the most current data available.</li>
                    <li>The data is only as accurate as presented by the different data sets published by various entities within the US Government.</li>
                    <li>My use of this data is not meant to constitute an endorsement of
                        <ul>
                            <li>any specific drug</li>
                            <li>any drug manufacturer</li>
                            <li>the FDA</li>
                            <li>the federal Medicaid program</li>
                            <li>state Medicaid programs</li>
                            <li>the US Government</li>
                            <li>any US Government agency</li>
                        </ul>
                    </li>
                    <li>This website is not endorsed or sponsored by
                        <ul>
                            <li>any specific drug</li>
                            <li>any drug manufacturer</li>
                            <li>the FDA</li>
                            <li>the federal Medicaid program</li>
                            <li>state Medicaid programs</li>
                            <li>the US Government</li>
                            <li>any US Government agency</li>
                            <li>my full-time employer</li>
                        </ul>
                    </li>
                    <li>This site is written, designed, hosted, and financed solely by Jason L. Cable. Contributions to ensure the long-term success of this site are appreciated and will remain anonymous.</li>

                </ul>
            </div>

        </div>
    </div>
</div>
