<div class="container">
    <div class="row">
        <div class="text-center col-md-12 col-12">
            @Html.Partial("_RxSearchBox")
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">
            <h1>Licenses</h1>
            
            <h3>This Site</h3>
            
            <div class="mono spaced">Copyright &copy; 2018 Jason L. Cable</div>

            <div class="mono spaced">
                Permission is hereby granted, free of charge, to any person obtaining a copy
                of this software and associated documentation files (the "Software"), to deal
                in the Software without restriction, including without limitation the rights
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the Software is
                furnished to do so, subject to the following conditions:
            </div>

            <div class="mono spaced">
                The above copyright notice and this permission notice shall be included in all
                copies or substantial portions of the Software.
            </div>

            <div class="mono spaced">
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                SOFTWARE.
            </div>
            
            <h3>This Site's Logo</h3>
            
            <div class="mono spaced">
                Copyright &copy; 2018 Jason L. Cable.  All rights reserved.
            </div>
            
            <h3>Open Source Software &amp; Design Elements</h3>
            
            <div class="mono spaced">
                Bootstrap, ASP.NET Core, C#, .NET Core, Font Awesome, etc. are copyrighted and licensed by their respective owners.  Their use in this product is within licensing guidelines.
            </div>
            
            <h3>US Government Works</h3>
            
            <div class="mono spaced">
                With the exception of postage stamps designed in 1977 or later, the US Government cannot copyright any of its publications or work products.  They are therefore implicitly assigned to the public domain.  <a href="https://www.usa.gov/government-works" target="_blank">More info...</a>
            </div>
            
            <h5>Data Sources</h5>

            <ul>
                <li><a href="https://www.fda.gov/Drugs/InformationOnDrugs/ucm129662.htm" target="_blank">Orange Book</a> (FDA)</li>
                <li><a href="https://data.medicaid.gov/Drug-Pricing-and-Payment/NADAC-National-Average-Drug-Acquisition-Cost-/a4y5-998d" target="_blank">National Average Drug Acquisition Costs</a> (Medicaid)</li>
                <li><a href="https://www.fda.gov/ForIndustry/DataStandards/StructuredProductLabeling/ucm162549.htm" target="_blank">Pharmacologic Classes</a>(FDA)</li>
                <li><a href="https://www.fda.gov/drugs/informationondrugs/ucm142438.htm" target="_blank">National Drug Code</a> (FDA)</li>
                <li><a href="https://healthdata.gov/dataset/aca-federal-upper-limits" target="_blank">Affordable Care Act Federal Upper Limits</a> (Medicaid)</li>
                <li><a href="https://data.medicaid.gov/State-Drug-Utilization/State-Drug-Utilization-Data-2018/e5ds-i36p" target="_blank">State Drug Utilization</a> (Medicaid)</li>
            </ul>
           
        </div>
    </div>
</div>
