.jumbotron {
    background-color:white;
    border: 1px solid black;
    border-radius: 7px;
}

body {
    font-family: 'Source Sans Pro',sans-serif;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.mono {
    font-family: 'Source Code Pro', monospace;
}

.drug-type {
    border-radius: 10px;
    background-color: rgba(33, 37, 41, 0.75);
    color: white;
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: inline;
}

.middle {
    vertical-align: middle;
}

.inline {
    display: inline;
}

.compact-table {
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

.spaced {
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}