 @using (Html.BeginForm("RxSearch", "Search", FormMethod.Post, new {id = "rxSearchForm"}))
 {
     <input type="hidden" id="rxSearchId" />
     <table class="compact-table" width="100%">
         <tbody>
         <tr>
             <td style="max-width: 300px;"><img src="~/images/jmr-wide.svg" style="max-width:300px;min-width:75px;" class="img-responsive" /></td>
             <td><input type="text" class="form-control inline" id="rxSearchString" name="rxSearchString" placeholder="enter brand or generic name" /></td>
             <td style="width: 75px;"><button type="submit" class="btn btn-danger btn-med inline" role="button">Search</button></td>
         </tr>
         </tbody>
     </table>
 }